
h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 128.9%;


  color: #484C52;
}
.app-container{
 	background: #FFFFFF;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
    padding-bottom: 100px;
    max-width: 800px;
	margin: 0 auto;
    margin-top: 52px;

}
.btn-in-profile{
	background: #FF6933;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 9px 9px 10px 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 128.9%;
	border: 0;
	color: #FFFFFF;
    
	display: flex;
	flex-direction: row;
	justify-content: center;
    
    margin: 0 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.btn-in-profile img{
	align-self: center;
	margin: 0px 8px;
	transition: all 0.3s ease 0s;

}
.class-box.active .btn-in-profile img{
	transition: all 0.3s ease 0s;
	transform: rotate(90deg);
}
.profile-box-title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 128.9%;
	color: #484C52;
	flex-grow: 1;
	padding-left: 36px;
	padding-top: 18px;
	text-align: left;
}
.profile-box-content{
	display: flex;
	
}
.profile-box-info{
	background: #FFFFFF;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	margin-top: 17px;
}

.class-box.active .profile-box{
	display: flex;
	flex-direction: column;
	position: relative;
	transform: scale(1.0);
	transition: all 0.3s ease 0s;
	transform-origin: top;
}
.student-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 34px;
}
.student-img{
	width: 50px;
	height: 50px;
	border-radius: 27px;
	border: 4px solid #FF6933;
	overflow: hidden;
}
.student-name{
	align-self: center;
	margin-left: 16px;
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	color: #484C52;
}
.student-delete{
	margin-left: 42px;
	align-self: center;
	width: 40px;
	height: 40px;
	background: #FF6933;
	border-radius: 20px;
	text-align: center;
}
.student-delete img {
	width: 18px;
	height: 20px;
	align-self: center;
	padding-top: 10px;
}
.student-add{

	margin-top: 34px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	color: #484C52;
}
.student-add button{
	font-weight: 600;
	font-size: 20px;
	line-height: 128.9%;
	padding: 2px 11px 2px 1px;

	color: #FFFFFF;

}
.plus-img{
	width: 26.67px;
	height: 26.67px;
	transform: rotate(-90deg)
}
.class-box{
	text-align: center;
	
	position: relative;
	flex-shrink: 1;
	margin-bottom: 46px;
}
.student-add *{
	margin-right: 30px;
}


.subjec-flex{
    
    margin-left: 64px;
    display: flex;
    justify-content: left;
    font-family: 'Montserrat';
    font-size: 24px;
}
.btn-in-profile-1{
    background: #FF6933;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 9px 9px 10px 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 128.9%;
	border: 0;
	color: #FFFFFF;
    
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin-top: 40px
}

.subjec-flex-btn{
    margin-left: 64px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    font-size: 24px;
    max-width: 300px;
}
.sub-items{
    min-height: 75px;
     border-bottom: 1px solid #484C52;
}
.profile-box{
    position: relative;
    
    display: inline-block;
}

.dropdown-menu{
    background: #EAEAEA;
    padding: 10px 20px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    list-style: none;
    /* visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute; */
    overflow: hidden;
    border-radius: 15px;
}
.dropdown-menu.show{
    visibility: visible;
    opacity: 10;
    z-index: 10;
}
.dropdown-menu a{
    display: block 

}
.homework_container{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 40px;
    font-size: 22px;
}
.addAnswer{
    background: #FF6933;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 9px 9px 10px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.9%;
    border: 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    margin-top: 20px    ;
}