* {
	font-family: "Montserrat";
	font-style: normal;
}
a {
	text-decoration: None;
}
body {
	margin: 0;
}

.back_romb{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -53px;
	width: 444px;
	height: 444px;
}
.back_romb_content{
	top: 0;
	right: 0;
	position: relative;
	left: 50%;
	top: 50%;
	width: 314px;
	height: 314px;
	margin-left: -157px;
	margin-top: -157px;
	z-index: 1;
	background: #FF6933;
	transform: rotate(45deg);
}
.ellipse {
	width: 34px;
	height: 34px;
}
.blue-ellipse1 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: -57px;
	margin-left: -17px;
}
.orange-ellipse1 {
	position: absolute;
	top: 0;
	right: 0;

	margin-top: -17px;
	margin-right: -17px;
}
.rectangle1{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: -18.28px;
	margin-bottom: 35.72px;
	width: 127.28px;
	height: 127.28px;
}
.rectangle1_content {
	position: relative;
	bottom: 0;
	top: 47%;
	width: 173px;
	height: 7px;
	background: #88E7E7;
	transform: rotate(-45deg);
	margin-left: -17%;
}
.arcs{
	position: absolute;
	margin-top: 77px;
	margin-left: 435px;
	width: 63px;
	height: 63px;
}
.arcs img {
	position: absolute;
	bottom: 0;
	left: 0;
}
.triangle{
	position: absolute;
	width: 79;
	height: 66.5px;
	bottom: 0;
	right: 0;
	margin-right: -170.11px;
	margin-bottom: -11px;
}
.elipse1{
	position: absolute;
	width: 84px;
	height: 84px;
	top: 0;
	left: 0;
	z-index: 1;
	margin-left: -34px;
	margin-top: 98px;
}
.strelka{
	position: absolute;
	width: 299px;
	height: 79.83px;
	margin-left: 369px;
	margin-top: 312.5px;
}
.menu_body {
	display: flex;
	justify-content: flex-end;
}
.introdution_container {
	display: flex;
	position: relative;
}
.page {
	margin-top: 55px;
}
.introdution{

}
.introdution_text{
	z-index: 2;
}
.introdution_container h1 {
	flex-direction: row;
	font-weight: 800;
	font-size: 3em;
	line-height: 59px;
	letter-spacing: 0.045em;

	padding-top: 116px;
	margin: 0;

	color: #484C52;
}
.introdution_pic{
	flex: 0 0 444px;
	width: 444px;
	height: 444px;
	align-items: center;
}
.romb {
	z-index: 2;
	position: relative;
	left: 50%;
	top: 50%;
	width: 314px;
	height: 314px;
	margin-left: -157px;
	margin-top: -157px;
	transform: rotate(45deg);
	overflow: hidden;
	filter: drop-shadow(9px -1px 15px rgba(0, 0, 0, 0.25));
/*	margin: auto auto;*/
}
.romb img {
	width: 100%;
	height: 100%;
	max-width: 142%;
	transform: rotate(-45deg)scale(1.42);;
}
.audience_container{
	position: relative;
	display: flex;
	flex-direction: row;
	z-index: 2;
}
.for_who_title {
	z-index: 2;
	flex: 0 1 290px;
/*	display: inline-block;*/
}
.trapecia_container{
	position: relative;
	height: 100%;
}
.for_who_title h2{
	margin: 0 0 0 0;
	position: absolute;
	padding: 54px 0 0 0;
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 128.9%;
	color: #FFFFFF;
}
.for_who_content{
	z-index: 2;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.for_who_content_container{
	max-width: 676px;
	display: flex;
	flex-direction: row;
	margin: 25px 0 0 0;
}
.for_who_first{
	margin-top: 34px;
}
/*.for_who_content_container :first-child {
	margin-top: 41px;
}*/
.audience_decor{
/*	display: flex;
	flex-direction: row;*/
	position: absolute;
	width: 100%;
	height: 574px;
	z-index: 1;
/*	display: flex;
	flex-direction: row;*/
}
.audience {
	margin-top: 215px;
	height: 574px;
}
.audience_decor_left{
/*	flex: 0 1 46.71%;*/
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: #FF6933;
}
.trapecia{
	z-index: 1;
	display: flex;
	position: absolute;
	width: 88%;
	height: 100%;
	right: 0;
}
.audience_decor_right{
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	width: 45%;
	background: #88E7E7;
}
.trapecia_body{
	position: relative;
	flex-grow: 1;
/*	position: absolute;
	right: 0;*/
/*	width: 69%;*/
/*	width: 68.18%;*/
	height: 100%;
	display: inline-block;
	background: #88E7E7;
}
.big-triangle{
/*	position: absolute;
	left: 26.66%;*/
	width: 0;
	height: 0;

	border-left: 393px solid transparent;
/*	border-right: 448px solid transparent;*/
	border-bottom: 574px solid #88E7E7;
}
.small-triangle{
	width: 0;
	height: 0;
	border-left: 63px solid transparent;
	border-right: 63px solid transparent;
	border-bottom: 92px solid #88E7E7;
}
.top-triangle{
	position: absolute;
	width: 167.24px;
	height: 92px;
	top: 0;
	left: 0;
	margin-top: -92px;

}
.top-triangle img{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 44px;
	margin-bottom: 19px;
	width: 38px;
	height: 38px;
}
/*.audience_decor_triangle{
	position: absolute;

	bottom: 0;
	width: 46.66%;
	left: 26.67%;
	right: 26.67%;
	height: 116%;
	background: #88E7E7;
	border-left: solid transparent;
	border-right: solid transparent;
	border-bottom: solid #88E7E7;
}*/

.audience_decor_triangle{
	position: absolute;

	left: 22%;
	right: 26.66%;
	bottom: 0;
	border-left: 448px solid transparent;
	border-right: 448px solid transparent;
	border-bottom: 666px solid #88E7E7;
}
.audience-more{
	text-align: center;
}
.audience-more h2{
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;

	text-align: center;

	color: #484C52;
}
.more_content{
	display: flex;
	flex-direction: column;
}
.more_content_container:nth-child(even){
	flex-direction: row-reverse;
	text-align: right;
}
.more_content_container:nth-child(even) .more_text_container{
	text-align: right;
}
.more_content_container:nth-child(even) .more_text_container ul{
	direction: rtl;
	float: left;
}
.more_content_container:nth-child(even) .more_text_container li::marker{
	color: #88E7E7;
}
.more_content h3{
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	margin: 0 0 2px 0;

	color: #484C52;
}
.more_content_container{
	display: flex;
	flex-direction: row;
	margin-bottom: 93px;
	text-align: left;
}
.more_text_container{
	flex: 1 1;
	max-width: 50%;
	text-align: left;
}
/*.more_text_container ul{
  list-style:none;
  margin:0;
  padding: 0;
}
.more_text_container li{
  padding:5px;
  font-size:16px;
}
 
.more_text_container li:before{
  content: '';
  display: inline-block;
  height:16px;
  width: 16px;
  position: ;
  vertical-align: middle;
  border-radius:50%;
  background-color:#FF6933;
  margin-right:5px;
}*/
.more_text_container li::marker{
	color: #FF6933;
	width: 16px;
	height: 16px;
}
.more_text_container li{
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 5px;

	color: #000000;
}
.more_content_container img{
	flex: 0 1 500px;
/*	border: 3px solid #FF6933;*/
}
.for_who_content_container img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	flex: 0 0 150px;
}
.for_who_content_text{
	margin: 0 0 0 41px;
}
.for_who_content_text h3{
	margin: 6px 0 0 0;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.045em;

	color: #484C52;
}
.for_who_content_text p{
	margin: 0 0 0 0;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.045em;

	color: #484C52;
}
.capabilities{
	display: flex;
	flex-direction: column;
	margin-top: 84px;
	margin-bottom: 219px;
}
.capabilities_title{
	text-align: center;
}
.capabilities_title h2{
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;

	color: #484C52;
}
.capabilities_content{
	margin-top: 61px;
	display: flex;
	flex-direction: row;
	color: #FFFFFF;
}
.swiper-wrapper{
	z-index: 1;
	padding-bottom: 10px;
	padding-left: 16px;
}
.swiper-slide .capabilities_content_container{
	display: flex;
	z-index: 2;
	padding: 0 24px 0 24px;
	flex: 0 1 350px;
	flex-direction: column;
	max-width: 350px;
	min-height: 380px;
	background: #FF6933;
	box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.25);
/*	margin-right: 6.25%;*/
}
.swiper-slide .capabilities_content_container h3{
	flex: 0 0 116px;
/*	min-width: 303px;
*/	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	letter-spacing: 0.02em;
	margin: 14px auto;
	padding: 14px auto;
	color: #FFFFFF;
}
.swiper-slide .capabilities_content_container p{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.swiper-slide{
	max-width: 350px;
}
.swiper-slide:nth-child(odd) .capabilities_content_container{
	background: #88E7E7;
}
.swiper-slide:nth-child(odd) .capabilities_content_container p {
	color: #484C52;
}
.swiper-slide:nth-child(odd) .capabilities_content_container h3 {
	color: #484C52;
}
.selected-p{
	margin: 0;
}
.more-edukid{
	margin-top: 90px;

}
.selected-text{
	color: #FF6933;
}
.more-edukid-container{
	margin-left: auto;
	margin-right: auto;
/*	margin-top: 84px;
*/	text-align: center;
	padding: 9px 40px 14px 40px;

	max-width: 600px;

}
.more-edukid-container a{
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	text-align: center;

	color: #FF6933;	
}
.more-edukid-container p{
	font-weight: 400;
	font-size: 20px;
	line-height: 128.4%;

	letter-spacing: 0.07em;

	color: #484C52;

}

.itc-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

.swiper{
	width: 100%;

}
.footer{
	height: 264px;
	width: 100%;
	background: #484C52;
}
