* {
    font-family: "Montserrat";
    font-style: normal;
}

a {
    text-decoration: None;
}
.sign-body{
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
}
body {
    
    background: #F5F5F5;
}
header{
    height: 80px;
}
.container-sign {
    max-width: 550px;
    margin: 0 auto;
}
.form-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    text-align: center;
    text-transform: uppercase;

    color: #484C52;
}
.form-container{
    padding: 26px 75px 40px 75px;
    background: #FFFFFF;
    border-radius: 33px;
}
.form-fields{
    margin: 66px 0 0 0;
}
.logo {
    align-self: left;
}
.logo a{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FF6933; 
}
.form-field-title{
    margin: 0 0 16px 0 ;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: #484C52;
}
.form-field-input{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #484C52;
}
.form-field-input input{
    height: 20px;
    flex-grow: 1;
    border: 0px;
    background: #FFFFFF;
    font-size: 20px;
}
/*.form-field :first-child{
    content: "хуй";
}
.form-field:first-child.form-field-title{
    content: "";
}*/
.form-field:first-child.form-field-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.form-input: focus{
    border: 0 0 1px 0;
    border-color: #FFFFFF;
}

.form-field-input:focus {

  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.form-params{
    display: flex;
    flex-direction: row;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.form-params a{
    align-self: flex-end;
    margin-top: 2px;
}
.form-field{
    margin-bottom: 32px;
}
.remember-me{
    flex-grow: 1;
    height: 20px; 
    display: flex;
    align-content: center;

}
.remember-me label{
    margin-top: 2px;
    margin-left: 9px;
    position: relative;
    top: 0;
}
input[type="checkbox" i]{
    margin: 0;
    width: 20px;
    height: 20px;
}
.registration{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #484C52;
}
.registration a{
    text-decoration: underline;
    color: #FF6933;
}
.sign-btn{
    margin: 52px 0 14px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 295px;
}
.submit-sign-form {
    left: 835px;
    top: 600px;
    width: 100%;
    height: 100%;

    align-content: center;

    background: #FF6933;
    border-radius: 30px;
    border: 0;

    padding: 17px 0 17px 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
/*.userType div{
    flex-grow: 1;
}
.userType{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}*/
#id_type_of_user{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#id_type_of_user *{
    flex-grow: 1;
}
.user-type div label{
    vertical-align: top;
}